
.divTitle {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.divButton {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}